*::selection{
    background: crimson;
    color: #fff;
}

a:link,
a:visited {
    /*color: inherit;*/
    text-decoration: none;
}

/*Navbar CSS*/
.navbar {
    background: #be95c4;
}

.nav-link :hover{
    color: black;
}

.logo{
    height: 30px;
    width: 30px;
}
/*End of Navbar CSS*/

/* Homepage CSS */
.homepage-images{
    width: 150px;
}
/*End of Homepage CSS*/

/*Login CSS*/
.login-image,
.admin-login-image,
.author-image,
.publisher-image,
.book-issuing-image,
.member-management-image,
.book-inventory-image {
    width: 100px;
}


.card-login-bg {
    border-radius: 3%;
    margin-top: 50px;
    background-color: #cfcece4d;
}

.card-membermgmt-bg,
.card-bookinventory-bg,
.card-author-bg,
.card-publisher-bg,
.card-signup-bg,
.card-admin-login-bg,
.card-bookissuing {
    border-radius: 3%;
    margin-top: 50px;
    background-color: #cfcece4d;
    margin-bottom: 10%;
}

.label{
    color: #fff;
}
.btn-signup{
    margin-top:4px;
}
.back-to-homepage {
    display: inline-block;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    color: #fff;
    text-decoration: none !important;
    margin-top: 5px;
}

    .back-to-homepage:hover {
        margin-right: 1rem;
        transition: margin-right .3s;
        color: #f3c4fb;
    }
/*End of Login CSS*/

/*Admin CSS*/
.badge-secondary{
    background-color:#cfcece4d;
    color: black;
}

.label{
    color: #fff;
}
/*End of Admin CSS*/

/*Datatable CSS*/
.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info, 
.dataTables_wrapper .dataTables_processing, 
.dataTables_wrapper .dataTables_paginate {
    color: #010101;
    font-weight:500;
}

/*for entries border*/
.dataTables_wrapper .dataTables_length select {
        border: 2px solid black;
}

table.dataTable tbody tr {
    background-color: #ffffff0a;
}

/*for search borders*/
.dataTables_wrapper .dataTables_filter input {
    border: 2px solid black;
}

/*for next and previous*/
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, 
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    color: #000 !important;
}
/*End of Datatable CSS*/


/*Signup CSS*/
.signup-image{
    width: 80px;
}

.background-signup,
.background-admin,
.background-login,
.background-book-issuing,
.background-author,
.background-publisher {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)), url(../Images/background-login.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.background-book-inventory {
    margin: 0;
    padding: 0;
    min-height: 100%;
    background: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)), url(../Images/backgroundImage.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.background-userprofile,
.background-member-management {
    margin: 0;
    padding: 0;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)), url(../Images/backgroundAuthor.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


/*End of Signup CSS*/
/*Other CSS */
.content {
    text-align: center;
}
.lnkbtn {
    padding: .400rem .75rem;
}
/*End of Other CSS*/
/*Footer CSS*/
.footerlinks {
    color: #ffffff;
    text-decoration: none !important;
}

    .footerlinks:hover {
        color: #f3c4fb;
    }

.copyright {
    color: #ffffff;
    text-decoration: none !important;
}

    .copyright:hover {
        color: black;
    }

#footer1 {
    background: #5e548e;
    padding-top: 5px;
}

#footer2 {
    background: #be95c4;
    padding-top: 5px;
}
/*End of Footer CSS*/
